/* Global Style Rules */

html{
    scroll-behavior: smooth;
    padding: 0em;
    margin: 0em;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
    background-color: 
}

h1{
    font-size: 3em;
    padding: 0em;
    margin: auto;
}

h2{

}

header img{
    width:5%
}
.flex-container{
    display: flex;
    flex-basis: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #506bb3;
    padding: .5em;
}


nav ul{
    padding: 0em 3em;
}

nav li{
    display: inline;
    text-align: center;
    padding: .5em;
}

nav li a{
    text-decoration: none;
    color: #000000;
}

.search_bar{
    
}

.bio{
   font-family: lobster;
    padding: 0em 25%;
}
footer{
    background-color: #68C1C9;
}

.parallax {

    background-image: url("img_parallax.jpg");
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.gallery img{
    width:20%;
}

.filterDiv {
    float: left;
    line-height: 100px;
    text-align: left;
    margin: 2px;
  }